[submodule "libdeci"]
	path = libdeci
	url = https://github.com/shdown/libdeci
[submodule "libdeci-kara"]
	path = libdeci-kara
	url = https://github.com/shdown/libdeci-kara
[submodule "libdeci-ntt"]
	path = libdeci-ntt
	url = https://github.com/shdown/libdeci-ntt
[submodule "libdeci-newt"]
	path = libdeci-newt
	url = https://github.com/shdown/libdeci-newt
